apiVersion: v1
kind: ConfigMap
metadata:
  name: jumpstarter-controller
  namespace: {{ default .Release.Namespace .Values.namespace }}
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: jumpstarter-controller
    {{ if .Values.global.timestamp }}
    deployment.timestamp: {{ .Values.global.timestamp | quote }}
    {{ end }}
data:
  # backwards compatibility
  # TODO: remove in 0.7.0
  {{ if .Values.authenticationConfig }}
  authentication: {{- .Values.authenticationConfig | toYaml | indent 1 }}
  {{ end }}
  router: |
  {{ range $k, $v := .Values.grpc.routers }}
    {{ $k }}:
      endpoint: {{ include "router.endpoint" (list $ $k $v) | quote }}
      {{ if $v.labels }}
      labels:
        {{ $v.labels | toYaml | indent 1 }}
      {{ end }}
  {{ end }}
  config: |
{{ .Values.config | toYaml | indent 4 }}
